/* --- Base Infrastructure --- */
header div.header-icon {
  float:left;
  padding-right: 20px;
}

header div.user-greeting {
  float:right;
}

/*nav {

}*/

/*main#container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 10px;
}*/

footer {
  text-align: center;
}

footer a {
  padding-left: 20px;
  padding-right: 20px;
}


/* --- Common layouts --- */

aside.sidebar {
  float: left;
  display: inline-block;
  width: 30%;
}

article.main-content {
  float: left;
  display: inline-block;
  width: 70%;
}


/* --- Profile --- */


/* --- Utilities --- */

.clearfix {
  clear: both;
}
