/* --- Base Infrastructure --- */
header {
  border-bottom: #242424;
  border-style: solid;
  text-align: center;
  height: 120px;
}

header div#logo-wrapper {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 3px;
  position: absolute;
}

header div#logo-wrapper img {
  width: 100px;
  height: 100px;
}

header nav {
  text-align: center;
  display: inline-block;
  padding-top: 20px;
}

header div.header-icon {
  float: left;
  padding-right: 30px;
}
header div.header-icon a {
  text-decoration: none;
}
header div.header-icon img {
  height: 40px;
}

header div.user-greeting {
  padding-top: 20px;
  padding-right: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
}


img#landing-bg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  width: 100vw;
}

form#login input {
  height: 24px;
}

fieldset.landing-login {
  text-align: center;
  background-color: rgba(0,0,0,0);
  position: absolute;
  top: 73vh;
  left:0;
  right:0;
}

body.landing-body {
  background-color: #000000
}

fieldset.landing-login input[type = "email"],
fieldset.landing-login input[type = "password"] {
  font-size: 18px;
  font-weight: 300;
  padding: 15px 10px;
}

fieldset.landing-login button {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  padding: 4px 10px;
  border-radius: 4px;
  border: 0px;
  background-color: #E83B0C;
  color: #FFFFFF;
  outline: none;
  /*padding-bottom: 10px;*/
}

p#sign-up-container {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 80vh;
  left:0;
  right:0;
}

a#sign-up {

  text-decoration: none;
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
  padding: 7px 25px;
  border-radius: 8px;
  border: 0px;
  background-color: #E83B0C;
  color: #FFFFFF;
}



main#container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-style: solid;
  border-top: 0px;
  border-color: #3C3C3C;
}

footer {
  text-align: center;
}

footer a {
  padding-left: 20px;
  padding-right: 20px;
}



/* --- Common layouts --- */

aside.sidebar {
  float: left;
  display: inline-block;
  width: 30%;
}

article.main-content {
  float: left;
  display: inline-block;
  width: 70%;
}


/* --- Profile --- */

div#results {
  border: 1px solid #E8340C;
  display: none;
}

div.sidebar{
  float: left;
  width: 49.5%;
}

div.skills{
  float: right;
  width: 49.5%
}


/* --- 404 Page --- */

h1.404 {
  text-align: center;

}

/* --- Add Post --- */

form#add-post textarea {
  width: calc(100% - 20px); /* width - padding */
  min-height: 200px;
}
form#add-post input#submit {
  margin-top: 20px;
}


/* --- View Posts --- */

.post {
  padding: 15px;
  margin-bottom: 20px;
}

.post h2 {
  margin: 0;
}

.post p {
  margin: 0;
}

.threat-post {
  height: 20px;
  width: 20px;
  float: right;
}

.threat-home {
  margin: auto;
  padding: 5px 15px;
  width: 100px;
  color: #fff;
}

.low {
  background-color: green;
}

.med {
  background-color: orange;
}

.high {
  background-color: red;
}



/* --- Utilities --- */

.clearfix {
  clear: both;
}

.text-center {
  text-align: center;
}
