/* COLOUR PALETTE */

.background-light-grey {
  background-color: #535353;
}
.background-med-grey {
  background-color: #3C3C3C;
}
.background-dark-grey {
  background-color: #212121;
}
.background-darkest-grey {
  background-color: #181818;
}
.theme-primary {
  color: #E83B0C;
}



body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald";
  font-weight: 300;
  color: #CCCCCC;
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  font-size: 32px;
  line-height: 48px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h3 {
  font-size: 20px;
  line-height: 30px;
}


p, blockquote, summary, a, dt, legend, label {
  color: #CCCCCC;
}
p {
  margin-bottom: 10px;
}



figcaption {
  font-weight: 500;
  font-style: italic;
  color: #CCCCCC;
  /*font-size: 10px;*/
}



a:hover {
  color: #E83B0C;
}
a:active {
  color: rgba(204, 204, 204, 0.25);
}



mark {
  background-color: #FFFFFF;
}



ol, ul, dd {
  color: rgba(204, 204, 204, 0.75);
  margin-left: 25px;
}
ol {
  list-style-type: decimal;
}
ul, dd {
  list-style-type: circle;
}

hr {
  border-color: #E83B0C;
}




fieldset {
  /* border: 1px groove rgb(255,255,255); */
  border: 0px;
  background-color: #3C3C3C;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
}

input {
  border: 0px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #CCCCCC;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  outline: none;
  padding: 5px;
  height: 24px;
}

textarea {
  border: 0px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #CCCCCC;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  resize: vertical;
}

input:disabled{
    color: rgba(204, 204, 204, 0.5);
    /*border: 1px groove rgba(204, 204, 204, 0.75);*/
}
select {
  border: 0px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #CCCCCC;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  height: 24px;
  outline: none;
  padding: auto;
  padding-left: 5px;
}

option {
  background-color: #535353;
}


