/* --- Base Infrastructure --- */
header {
  border-bottom: #242424;
  border-style: solid;
  text-align: center;
}

header div#logo-wrapper {
  float: left;
}

header div#logo-wrapper img {
  width: 100px;
  height: 100px;
}

header nav {
  text-align: center;
  display: inline-block;
}

header div.header-icon {
  float: left;
  padding-right: 30px;
}
header div.header-icon a {
  text-decoration: none;
}
header div.header-icon img {
  height: 40px;
}

header div.user-greeting {
  float: right;
}

div.centering {
  text-align: center;
}



img#landing-bg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  width: 100vw;
  
}

img#logo {
  width: 256px;
  height: 256px;
  text-align: center;
  position: absolute;
  top: 10vh;
  left:0;
  right:0;
}

fieldset.landing-login {
  text-align: center;
  background-color: rgba(0,0,0,0);
  position: absolute;
  top: 70vh;
  left:0;
  right:0;
}

body.landing-body {
  background-color: #000000
}

fieldset.landing-login input[type = "email"],
fieldset.landing-login input[type = "password"] {
  font-size: 18px;
  font-weight: 300;
  padding: 15px 10px;
}

fieldset.landing-login button {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  padding: 4px 10px;
  border-radius: 4px;
  border: 0px;
  background-color: #E83B0C;
  color: #FFFFFF;
  outline: none;
  /*padding-bottom: 10px;*/
}

p#sign-up-container {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 80vh;
  left:0;
  right:0;
}

a#sign-up {

  text-decoration: none;
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
  padding: 7px 25px;
  border-radius: 8px;
  border: 0px;
  background-color: #E83B0C;
  color: #FFFFFF;
}



main#container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-style: solid;
  border-top: 0px;
  border-color: #3C3C3C;
}

footer {
  text-align: center;
}

footer a {
  padding-left: 20px;
  padding-right: 20px;
}



/* --- Common layouts --- */

aside.sidebar {
  float: left;
  display: inline-block;
  width: 30%;
}

article.main-content {
  float: left;
  display: inline-block;
  width: 70%;
}


/* --- Profile --- */




/* --- Utilities --- */

.clearfix {
  clear: both;
}

/* --- 404 Page --- */
h1.404 {
  text-align: center;

}
