{% include header.html %}
    <div>
      <h1>About</h1>
    </div>
    <div>
      <p>
        Welcome to the about page.
      </p>
      <p>
        Here is where we get to convince you to join our site. So, here is a list of...
      </p>
      <p>
        <h1> 10 Reasons to Join Our Site </h1>
      </p>
      <p>
        <ol start="0">
          <li> We start our lists from 0, like true survivors. </li>
          <li> We, like you, are all preppers for some sort of apocalyptic scenario. </li>
          <li> Using our site you can keep in touch with nearby preppers and survivors. </li>
          <li> Need a doctor? If someone nearby has added that as a skill you can find and contact them. Easy! </li>
          <li> Do you have any specific skills? Why not add them so other survivors can see what you are good at. </li>
          <li> In the likely event of an apocalypse this you can view contact details of your fellow survivors so you can survive, together! </li>
          <li> Something noteworthy in the news? Zombies roaming the streets near you? No-one noticed yet? Why not notify the community with our threat tracking system. </li>
          <li> Using our search function you can find people in your location. </li>
          <li> Our 404 pages are awesome. </li>
          <li> We can count to 10. </li>
        </ol>
      </p>
    </div>
{% include footer.html %}
