{% include header.html %}

<h1>Add Post</h1>
<p>Text:</p>
<p>
<form action="send_to">
      <input type="text" name="post" placeholder="Enter Text Here">
    </p>
    <p>
      <!-- Remember to add images instead of labels -->
      <label>Low: </label>
      <input type="radio" name="threat" value="0">
      <label>Medium: </label>
      <input type="radio" name="threat" value="1">
      <label>High: </label>
      <input type="radio" name="threat" value="2">
    </p>
    <p>
      <input type="submit" value="Submit">
    </p>
</form>

{% include footer.html %}
