{% include header.html %}

    <h1>Add Post</h1>
  <form action="send_to">
    <fieldset>
      <p>
        <label>Post: </label>
        <textarea type="text" name="post" placeholder="Enter Text Here">
        </textarea>
      </p>
<p>Threat Level:</p>
      <p>
        <!-- Remember to add images instead of labels -->

        <label>Low: </label>
        <input type="radio" name="threat" value="0" checked="checked">
        <label>Medium: </label>
        <input type="radio" name="threat" value="1">
        <label>High: </label>
        <input type="radio" name="threat" value="2">
      </p>
      <p>
        <input type="submit" value="Submit">
      </p>
    </fieldset>
  </form>

{% include footer.html %}
