{% include header.html %}

<h1>Add Post</h1>
  <form action="/post/create" method="POST" id="add-post">

      <textarea type="text" name="post" placeholder="What's happening in your apocalypse?"></textarea>
     
      <h3>Threat Level:</h3>
      
        <!-- Remember to add images instead of labels -->

        <input type="radio" name="threat" value="0" checked="checked">
        <label>Low</label>
        <br>
        <input type="radio" name="threat" value="1">
        <label>Medium</label>
        <br>
        <input type="radio" name="threat" value="2">
        <label>High</label>

        <br>
        <input type="submit" value="Submit" id="submit">
      
</form>

{% include footer.html %}
