{% include header.html %}
    <h1>Sign Up</h1>
    <form action="/profile/create/process", method="post">
      <fieldset>
        <p>
          <label>Name: </label>
          <input type="text" name="first-name" placeholder="First Name" required>
          <input type="text" name="last-name" placeholder="Last Name" required>
        </p>
        <p>
          <label>Date Of Birth: </label>
          <select id="form_dob_day" name="dob_day" required>
          	<option value="Day">Day</option>
            {% for i in range(1, 31 + 1) %}
            <option value="{{ i }}">{{ i }}</option>
            {% end for %}
          </select>
          <select id="form_dob_month" name="dob_month" required>
              <option value="Month">Month</option>
              <option value="1">January</option>
              <option value="2">Febuary</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
          </select>
          <select id="form_dob_year" name="dob_year" required>
              <option value="Year">Year</option>
          	<option value="Year">Year</option>
            {% for i in range(2016, 1959 - 1, -1) %}
            <option value="{{ i }}">{{ i }}</option>
            {% end for %}
          </select>
        </p>
        <p> Location:
          <input id="location" type="text" name="location">
          <input type="hidden" id="lat" name="lat">
          <input type="hidden" id="lng" name="lng">
        </p>
      </form>
      </div>

      <div id="results">
          <ul>
          </ul>
      </div>
      <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
      <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="http://underscorejs.org/underscore-min.js"></script>
      <script>
      $( document ).ready(function() {

          $("#location").keyup(_.debounce(function() {
              var dest = "http://nominatim.openstreetmap.org/search.php?format=json&q=" + $("#location")
              .val()
              .split(' ')
              .join('+')
              $.ajax(dest)
              .done(function(response) {
                  $("#results > ul").html("")
                  if(response.length == 0) {
                    $('#results').hide();
                    return;
                  }

                  response.forEach(function(obj){
                      new_item = document.createElement("li")
                      $(new_item).text(obj.display_name)
                      $(new_item).attr("data-lat",obj.lat)
                      $(new_item).attr("data-lon",obj.lon)
                      console.log($(new_item))
                      $("#results > ul").append($(new_item))
                  })
                  $("#results").show()
              })
          }, 200))
          $("#results > ul").click(function(event) {
              $("#location").val($(event.target).text())
              $("#results").hide()
              $("#lat").val($(event.target).attr("data-lat"))
              $("#lng").val($(event.target).attr("data-lon"))
          })
      })
      </script>
          <label>Email: </Label>
          <input type="email" name="email" placeholder="Email" required>
        </p>
        <p>
          <label>Password: </label>
          <input type="password" name="password" placeholder="Password" required>
        </p>
        <p>
          <label>Confirm Password: </label>
          <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        </p>
        <p>
          <input type="submit" value="Signup">
        </p>
      </fieldset>
    </form>
{% include footer.html %}
