{% include header.html %}

    <form action="/send_to">
      <fieldset>
        <p>
          <label>Name: </label>
          <input type="text" name="first-name" placeholder="First">
          <input type="text" name="last-name" placeholder="Last">
        </p>
        <p>
          <label>Email: </label>
          <input type="text" name="email">
        </p>
        <p>
          <label>Password: </label>
          <input type="text" name="password">
        </p>
        <p>
          <label>Confirm Password: </label>
          <input type="text" name="password">
        </p>
        <p>
          <input type="submit" value="Search">
        </p>
      </fieldset>
    </form>

{% include footer.html %}
