{% include header.html %}
    <h1>Sign Up</h1>
    <form action="/send_to">
      <fieldset>
        <p>
          <label>Name: </label>
          <input type="text" name="first-name" placeholder="First Name">
          <input type="text" name="last-name" placeholder="Last Name">
        </p>
        <p>
          <label>Date Of Birth: </label>
          <select id="form_dob_day" name="dob_day">
          	<option value="Day">Day</option>
            {% for i in range(1, 31 + 1) %}
            <option value="{{ i }}">{{ i }}</option>
            {% end for %}
          </select>
          <select id="form_dob_month" name="dob_month">
              <option value="Month">Month</option>
              <option value="1">January</option>
              <option value="2">Febuary</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
          </select>
          <select id="form_dob_year" name="dob_year">
              <option value="Year">Year</option>
          	<option value="Year">Year</option>
            {% for i in range(2016, 1959 - 1, -1) %}
            <option value="{{ i }}">{{ i }}</option>
            {% end for %}
          </select>
        </p>
        <p>
          <label>Location: </label>
          <input type="text" name="latitude" placeholder="Latitude">
          <input type="text" name="longitude" placeholder="Longitude">
        </p>
        <p>
          <label>Email: </Label>
          <input type="email" name="email" placeholder="Email">
        </p>
        <p>
          <label>Password: </label>
          <input type="password" name="password" placeholder="Password">
        </p>
        <p>
          <label>Confirm Password: </label>
          <input type="password" name="confirm_password" placeholder="Confirm Password">
        </p>
        <p>
          <input type="submit" value="Signup">
        </p>
      </fieldset>
    </form>
{% include footer.html %}
