<!doctype html>
<html>
  <head>
    <title> Page Title </title>
    <link rel="stylesheet"
    type="text/css"
    href="css/file.css">
    <script src="js/file.js">
    </script>
  </head>
  <body>
    <header>
      <nav>
        <a href="/index">
          <img src="https://i.ytimg.com/vi/UIrEM_9qvZU/maxresdefault.jpg">
        </a>
        <a href="/profile">Profile</a>
        <a href="/posts">Posts</a>
        <a href="/add">Add Post</a>
        <a href="/search">Search</a>
        <a>Hello [Name]</a>
        <a href="/logout">Logout</a>
      </nav>
  </body>
</html>
