<!doctype html>
<html>
  <head>
    <title> Page Title </title>
    <link rel="stylesheet"
    type="text/css"
    href="style.css">
  </head>
  <body>
    <header>
      <nav>
        <div class="header-icon">
          <a href="/index">
            <img src="https://pbs.twimg.com/profile_images/586137164188004352/wTK4hjbl_normal.jpg">
          </a>
        </div>
        <div class="header-icon">
          <a href="/profile">Profile
            <img src="https://pbs.twimg.com/profile_images/586137164188004352/wTK4hjbl_normal.jpg">
          </a>
        </div>
        <div class="header-icon">
          <a href="/posts">Posts
            <img src="https://pbs.twimg.com/profile_images/586137164188004352/wTK4hjbl_normal.jpg">
          </a>
        </div>
        <div class="header-icon">
          <a href="/add">Add Post
            <img src="https://pbs.twimg.com/profile_images/586137164188004352/wTK4hjbl_normal.jpg">
          </a>
        </div>
        <div class="header-icon">
          <a href="/search">Search
            <img src="https://pbs.twimg.com/profile_images/586137164188004352/wTK4hjbl_normal.jpg">
          </a>
        </div>
        <div class="clear-floats"></div>
      </nav>
      <div id="user-details">
        <p>Hello [Name]</p>
        <a href="/logout">Logout</a>
      </div>
      </nav>
    </header>
    <main id="container">
