<!doctype html>
<html>
  <head>
    <title> Page Title </title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styleguide.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>
  <body class="background-med-grey">
    <header class="background-dark-grey">
      <nav>
        <div class="header-icon">
          <a href="/index">
            <img src="https://pbs.twimg.com/profile_images/586137164188004352/wTK4hjbl_normal.jpg">
          </a>
        </div>
        <div class="header-icon">
          <a href="/profile">
            Profile
            <img src="https://pbs.twimg.com/profile_images/586137164188004352/wTK4hjbl_normal.jpg">
          </a>
        </div>
        <div class="header-icon">
          <a href="/posts">
            Posts
            <img src="https://pbs.twimg.com/profile_images/586137164188004352/wTK4hjbl_normal.jpg">
          </a>
        </div>
        <div class="header-icon">
          <a href="/add">
            Add Post
            <img src="https://pbs.twimg.com/profile_images/586137164188004352/wTK4hjbl_normal.jpg">
          </a>
        </div>
        <div class="header-icon">
          <a href="/search">
            Search
            <img src="https://pbs.twimg.com/profile_images/586137164188004352/wTK4hjbl_normal.jpg">
          </a>
        </div>
      </nav>
      <div class="user-greeting">
        <p>Hello, {{ name }}</p>
        <a href="/logout">Logout</a>
      </div>
      <div class="clearfix">
      </div>
    </header>
    <main id="container" class="background-light-grey">
