<html>
  <head>
    <title> The Human Survival Co. Landing </title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald:400,300,700">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css"> <!-- fix -->
    <link rel="stylesheet" type="text/css" href="/static/css/styleguide.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>

    <body class="landing-body">


        <img id="landing-bg" src="/static/images/landing-bg-logo.jpg">
        <!-- <img id="logo-img" src="/static/images/logo-black.png"> -->

        <form action="/login" method = "post" id="login">
            <fieldset class="landing-login">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Login</button>
            </fieldset>
        </form>
        <p id="sign-up-container">
            <a href="/profile/create" id="sign-up">No Account? Save Yourself!</a>
        </p>

        <!-- <main id="container" class="background-light-grey">
        </main> -->
    </body>

<!-- {% include footer.html %} -->
