<html>
  <head>
    <title> Page Title </title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald:400,300,700">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css"> <!-- fix -->
    <link rel="stylesheet" type="text/css" href="/static/css/styleguide.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>

    <body class="landing-body">

        
        <img id="landing-bg" src="/static/images/landing-bg.jpg">
        
        <form action="/login" method = "post">    
            <fieldset class="landing-login">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Login</button>
            </fieldset>
        </form>

        <!-- <main id="container" class="background-light-grey">
        </main> -->
    </body>

<!-- {% include footer.html %} -->