{% include header.html %}

		<article>
			<form>
			<div class="sidebar">
					<fieldset name="account-info">
						<span class="img-zone">
							<img src="images/cat.jpg" height="128">
						</span>
							<div class="profile-info">
								<p>
								  <input id="firstname" type="text" name="fname"> <input type="text" name="lname">
							  </p>
								<p>
									<input type="text" name="location">
								</p>
								<p>
									<input type="text" name="date-of-birth" value="31/12/1999">
									<select>
										<option>01</option>
										<option>02</option>
										<option>03</option>
										<option>04</option>
										<option>05</option>
										<option>06</option>
										<option>07</option>
										<option>08</option>
										<option>09</option>
										<option>10</option>
										<option>11</option>
										<option>12</option>
									</select>
								</p>
									<input type="text" name="gender">
								<p>
									<textarea rows="6" name="contact-info">Hello, World!</textarea>
								</p>
							</div>
					</fieldset>
			</div>
			<div class="skills">
				<fieldset name="skills">
					<div>
						<p>
							<h1 class="edit-titles"> Add skills </h1>
						</p>
						<p>
					    <select>
								<option> </option>
							</select>
					  </p>
				  </div>
				</fieldset>
			</div>
			<div class="user-posts">
			</div>
			</form>
		</article>

{% include footer.html %}
