{% include header.html %}



			<aside>
						<span class="img-zone">
							<img src="images/cat.jpg" height="128px"></img>
						</span>
							<div class="profile-info">
								<p>
								  John Smith
							  </p>
								<p>
									Sydney
								</p>
								<p>
									20
								</p>
									Male
								<p>
									jsmith@email.com
								</p>
							</div>
						</aside>
						<article>
			<div class="skills">
					<div>
						<p>
							<h1 class="edit-titles"> Add skills </h1>
						</p>
						<p>
					    <select>
								<option> </option>
							</select>
					  </p>
				  </div>
			</div>
		</article>
{% include footer.html %}
