<!doctype html>
<html>
	<head>
		<title> Michael is awesome </title>
		<link rel="stylesheet" type="text/css" href="mainsheet.css">
		<script>
		</script>
	</head>


	<body>
		<header>
		</header>
		<article>
			<img></img>
			<form>
				<div id="outside">
					<fieldset name="account-info">
						<div>
							<input type="text" name="fullname">
						</div>
						<div>
							<input type="text" name="location">
						</div>
						<div>
							<input type="text" name="age">
						</div>
						<div>
							<input type="text" name="gender">
						</div>
						<div>
							<textarea rows="6" columns="60" name="contact-info">Hello, World!</textarea>
						</div>
					</fieldset>
				</div>
				<fieldset name="skills">
					<input type="text" name="fullname">
				</fieldset>
			</form>
		</article>
		<footer>
		</footer>
	</body>
</html>
