{% include header.html %}

        <article>
            <form>
            <div class="sidebar">
                    <fieldset name="account-info">
                        <span class="img-zone">
                            <img src="/static/images/logo.png" height="128">
                        </span>
                            <div class="profile-info">
                              <p>
                                <label> Full Name:   </label>
                                  <input id="firstname" type="text" name="fname" placeholder="First Name"> <input type="text" name="lname" placeholder="Last Name">
                              </p>
                                <p>
                                    <label> Location:   </label>
                                    <input type="text" name="location">
                                </p>
                                <p>
                                  <label> Date Of Birth: </label>
                                  <select id="form_dob_day" name="dob_day">
                                    <optgroup>Day</optgroup>
                                    {% for i in range(1, 31 + 1) %}
                                    <option value="{{ i }}">{{ i }}</option>
                                    {% end for %}
                                  </select>
                                  <select>
                                      <optgroup>Month</optgroup>
                                      <option value="1">January</option>
                                      <option value="2">Febuary</option>
                                      <option value="3">March</option>
                                      <option value="4">April</option>
                                      <option value="5">May</option>
                                      <option value="6">June</option>
                                      <option value="7">July</option>
                                      <option value="8">August</option>
                                      <option value="9">September</option>
                                      <option value="10">October</option>
                                      <option value="11">November</option>
                                      <option value="12">December</option>
                                  </select>
                                  <select>
                                    <optgroup>Year</optgroup>
                                    {% for i in range(2016, 1959 - 1, -1) %}
                                    <option value="{{ i }}">{{ i }}</option>
                                    {% end for %}
                                  </select>
                                </p>
                                <p>
                                  <input type="text" name="gender">
                                </p>
                                <p>
                                    <textarea name="contact-info">Hello, World!</textarea>
                                </p>
                            </div>
                    </fieldset>
            </div>
            <div class="skills">
                <fieldset name="skills">
                    <div>
                        <p>
                            <h1 class="edit-titles"> Add skills </h1>
                        </p>
                        <p>
                        <select>
                            <option value="Acupuncturist">Acupuncturist</option>
                            <option value="Nurse">Nurse</option>
                            <option value="GP">GP</option>
                            <option value="Dentist">Dentist</option>
                            <option value="Vet">Vet</option>
                            <option value="Nutritionist">Nutritionist</option>
                            <option value="Physiotherapist">Physiotherapist</option>
                            <option value="Social Worker">Social Worker</option>
                            <option value="Chef">Chef</option>
                            <option value="Funeral Worker">Funeral Worker</option>
                            <option value="Policeman">Policeman</option>
                            <option value="Criminal">Criminal</option>
                            <option value="Farmer">Farmer</option>
                            <option value="Botanist">Botanist</option>
                            <option value="Baker">Baker</option>
                            <option value="Lawyer">Lawyer</option>
                            <option value="Scientist">Scientist</option>
                            <option value="Engineer">Engineer</option>
                        </select>
                      </p>
                  </div>
                </fieldset>
            </div>
            <div class="user-posts">
            </div>
            </form>
        </article>

{% include footer.html %}
