{% include header.html %}

<aside class="sidebar">
    <span class="img-zone">
        <img src="/static/images/logo.png" height="128px"></img>
    </span>
    <div class="profile-info">
        <p>
            Name: {{ user.get_first_name() }} {{ user.get_last_name() }}
        </p>
        <p>
            Location: {{ user.get_location() }}
        </p>
        <p>
            DOB: {{ user.get_age() }}
        </p>
        <p>
          Gender: {{ user.get_gender() }}
        </p>
        <p>
            Contact: {{ user.get_email() }}
        </p>
    </div>
</aside>

<article class="main-content">
    <div class="skills">
        <div>
            <p>
                <h1 class="edit-titles">Skills </h1>
            </p>
            <p>
              - Builder
            <p>
            <p>
              - Part Time Security Guard
            </p>

        </div>
        <section>
            <h1>Posts</h1>
            <article>
                Example post |
                time |
                Alert
            </article>
        </section>
    </div>
</article>

<div class="clearfix"></div>

{% include footer.html %}
