<!doctype html>
<html>
	<head>
		<title> Michael is awesome </title>
		<link rel="stylesheet" type="text/css" href="mainsheet.css">
		<script>
		</script>
	</head>


	<body>
		<header>
		</header>
		<article>
			<form>
			<div class="sidebar">
					<fieldset name="account-info">
						<span class="img-zone">
							<img src="images/cat.jpg" height="128px"></img>
						</span>
							<div class="profile-info">
								<p>
								  <input id="firstname" type="text" name="fname"> <input type="text" name="lname">
							  </p>
								<p>
									<input type="text" name="location">
								</p>
								<p>
									<input type="text" name="age">
								</p>
									<input type="text" name="gender">
								<p>
									<textarea rows="6" name="contact-info">Hello, World!</textarea>
								</p>
							</div>
					</fieldset>
			</div>
			<div class="skills">
				<fieldset name="skills">
					<div>
						<p>
							<h1 class="edit-titles"> Add skills </h1>
						</p>
						<p>
					    <select>
								<option> </option>
							</select>
					  </p>
				  </div>
				</fieldset>
			</div>
			<div class="user-posts">
			</div>
			</form>
		</article>
		<footer>
		</footer>
	</body>
</html>
