{% include header.html %}

<aside class="sidebar">
	<span class="img-zone">
		<img src="images/cat.jpg" height="128px"></img>
	</span>
	<div class="profile-info">
		<p>
			{{ John }} {{ Smith }}
		</p>
		<p>
			{{ Sydney }}
		</p>
		<p>
			{{ 20 }}
		</p>
		  {{ Male }}
		<p>
			{{ jsmith@email.com }}
		</p>
	</div>
</aside>

<article class="main-content">
	<div class="skills">
		<div>
			<p>
				<h1 class="edit-titles"> Add skills </h1>
			</p>
			<p>
				<select>
					<option>1</option>
				</select>
			</p>
		</div>
		<section>
			Posts |
			<article>
				Example post |
				time |
				Alert
			</article>
		</section>
	</div>
</article>

<div class="clearfix"></div>

{% include footer.html %}
