{% include header.html %}

    <h1>Search</h1>
    <form action="/search_results" method="POST">
      <fieldset>
        <p>
          <input type="text" name="query" placeholder="Enter">
        </p>
        <p>
          <label>By Name: </label>
          <input type="radio" name="criteria" value="name" checked="checked">
          <label>By Location: </label>
          <input type="radio" name="criteria" value="location">
        </p>
        <p>
          <input type="submit" value="Search">
        </p>
      </fieldset>
    </form>

{% include footer.html %}
