/* ---Base Infrstructure --- */

main#container {
  width:960px;
  margin-left: auto;
  margin-right: auto;
}

footer{
  margin-top: 15px;
  text-align: center;
}

footer a {
  padding-left: 20px;
  padding-right: 20px;
}

/* --- Profile --- */

aside {
  display: inline-block;
  width: 30%;
}

article {
  display: inline-block;
  width: 70%;
}
