{% include header.html %}
<div>
  <fieldset>
    <center>
      <h1>Threat Level:
      <script>
        var myArray = ['<div class="low-threat-home"><h2>Low</h2></div>', '<div class="med-threat-home"><h2>Medium</h2></div>', '<div class="high-threat-home"><h2>High</h2></div>'];
        var rand = myArray[Math.floor(Math.random() * myArray.length)];
        document.write(rand)
      </script></h1>
    </center>
  </fieldset>
</div>
{% for post in posts %}
<div class="post">
  <h2>Name: {{ post.get_author().get_first_name() }}</h2>
    <p>Threat level:
      {% if post.get_status() == 0 %}Low<div class="low-threat"></div>{% end if %}
      {% if post.get_status() == 1 %}Medium<div class="med-threat"></div>{% end if %}
      {% if post.get_status() == 2 %}High<div class="high-threat"></div>{% end if %}
    </p>
    <p>{{post.get_message()}}</p>
    <p>{{post.get_timestamp()}}</p>
  </div>
{% end for %}
{% include footer.html %}
