
body {
  background-color: #262626;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: #CCCCCC;
  margin-top: 15px;
  margin-bottom: 0px;
}
h1 {
  font-size: 32px;
  line-height: 48px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h3 {
  font-size: 20px;
  line-height: 30px;
}


p, blockquote, summary, a, dt, legend {
  color: #CCCCCC;
}
p {
  margin-bottom: 10px;
}


section {
  background-color: #3C3C3C;
}


figcaption {
  font-weight: 500;
  font-style: italic;
  color: #CCCCCC;
  /*font-size: 10px;*/
}


a:hover {
  color: #CCCCCC;
}
a:active {
  color: rgba(204, 204, 204, 0.25);
}


mark {
  background-color: #FFFFFF;
}


ol, ul, dd {
  color: rgba(204, 204, 204, 0.75);

}


hr {
  border-color: #CCCCCC;
}


fieldset {
  /* border: 1px groove rgb(255,255,255); */
  border: 0px;
}
input, textarea {
  border: 0px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #CCCCCC;
}
input:disabled{
    color: rgba(204, 204, 204, 0.25);
    /*border: 1px groove rgba(204, 204, 204, 0.75);*/
}
textarea {
  font-family: inherit;
}
select {
  border: 0px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #CCCCCC;
}
